[Desktop Entry]
Type=Application
Name=Packet Tracer Executable
MimeType=application/x-etherpeek;
Exec=env WINEPREFIX="/home/chakib/.wine" wine start /ProgIDOpen PacketTracer7 %f
NoDisplay=true
StartupNotify=true
Icon=343E_PacketTracer7.0
