[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/png;
Exec=env WINEPREFIX="/home/chakib/.wine" wine start /ProgIDOpen pngfile %f
NoDisplay=true
StartupNotify=true
Icon=6EC8_iexplore.0
