[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/jpeg;
Exec=env WINEPREFIX="/home/chakib/.wine" wine start /ProgIDOpen jpegfile %f
NoDisplay=true
StartupNotify=true
Icon=6EC8_iexplore.0
