[Desktop Entry]
Type=Application
Name=Smart Player 
MimeType=video/mp4;
Exec=env WINEPREFIX="/home/chakib/.wine" wine start /ProgIDOpen SmartPlayer.Files %f
NoDisplay=true
StartupNotify=true
Icon=9AED_SmartPlayer.0
