[Desktop Entry]
Name=DBDesigner 4 Help
Exec=env WINEPREFIX="/home/chakib/.wine" wine C:\\\\users\\\\chakib\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\fabFORCE\\\\DBDesigner\\ 4\\ Help.lnk
Type=Application
StartupNotify=true
Path=/home/chakib/.wine/dosdevices/c:/Program Files (x86)/fabFORCE/Doc/
StartupWMClass=index.html
