[Desktop Entry]
Name=Cisco Packet Tracer Help
Exec=env WINEPREFIX="/home/chakib/.wine" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Cisco\\ Packet\\ Tracer\\\\Cisco\\ Packet\\ Tracer\\ Help.lnk
Type=Application
StartupNotify=true
Path=/home/chakib/.wine/dosdevices/c:/Program Files/Cisco Packet Tracer 7.3.0/help/default
StartupWMClass=index.htm
